@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: var(--rs-color-background-neutral);
}

.background-transparent {
  background: transparent !important;
}

[data-rs-theme='dechea'] > [role='button'] {
  cursor: default;
}

@media print {
  @page {
    size: A4;
    margin-top: 14.816mm;
    margin-bottom: 7.93mm;
    margin-inline: 27.516mm;
  }
  * > * {
    box-shadow: none !important;
  }
}
