@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: var(--rs-color-background-neutral);
}

@page {
  size: auto;
  margin-block: 30mm;
}

.background-transparent {
  background: transparent !important;
}

[data-rs-theme='dechea'] > [role='button'] {
  cursor: default;
}

@media print {
  @page {
    size: A4;
  }
}
