@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: var(--rs-color-background-neutral);
}

@page {
  size: auto;
  margin-block: 30mm;
}
